
@import "tailwindcss";

@media (prefers-color-scheme: dark) {
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 215, 220, 216;
}
}

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }


body {
  
  font-family: Arial, Helvetica, sans-serif;
}


@theme {
  --font-weight-extrablack: 1000; 
}
h1 {
  @apply text-2xl font-extrablack;
}
h2 {
  @apply text-xl font-extrablack;
}
h3 {
  @apply text-lg font-extrablack;
}


a {
   @apply   mx-1 ;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
   @apply  bg-[#eee] hover:bg-[#444] hover:text-[beige]   transition-colors duration-2000 ease-in-out;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}
details summary {
  cursor: pointer;
  transition: margin 1500ms ease-out;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;

}


.filter-select {
  background-color: peachpuff;
}
.content-division{
   @apply  hover:bg-[#444] hover:text-[beige] border-1 ; 
}

.topdiv{min-width: 175px;
        width: fit-content;
        }
.video-repos{min-width: 300px;
        width: 750px;
        left: 0px;
        position: static;
background-color: beige;
  }



